* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

div {
    display: flex;
    margin: .5rem;
    padding: 1rem;
    border: 3px solid #000;
    min-height: 1rem;
    flex-grow: 1;
}

.grandparent {
    background-color: blueviolet;
    flex-direction: column;
}

.parent {
    background-color: salmon;
}

.child {
    background-color: rgb(79, 150, 144);
}